* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/background.jpg);
}

.wrapper {
  position: relative;
  width: 39vw;
  height: 75vh;
  overflow: hidden;
  margin: auto;
  top: 11vh;
  background-color: rgb(51, 51, 51);
  border: 0.3rem solid rgb(7, 7, 7);
  border-radius: 3%;
}

.slider__container {
  position: absolute;
  width: 35vw;
  height: 60vh;
  overflow: hidden;
  padding-bottom: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls__wrapper {
  width: 100%;
  min-height: 5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 1.5rem;
  color: rgb(212, 209, 209);
  background-color: transparent;
}

.quotes {
  display: flex;
  width: 70%;
  align-content: flex-start;
  justify-content: flex-start;
  transform: translateX(10%, 10%);
  transition: all 0.6s ease-in-out;
}

.quote {
  width: 100%;
  transition: all 0.6s ease;
}



.controls {
  position: absolute;
  top: 0;
  right: 0;
}

.controls__btn {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.2rem;
  opacity: 0.5;
  transition: all 0.4s ease;
  /* border-radius: 1rem; */
}

.controls__btn:checked {
  opacity: 1;
  transform: scale(1.2);
}

.controls__btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.slider {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

#dot__1:checked ~ .slider__item {
  margin-left: 0;
}

#dot__2:checked ~ .slider__item {
  margin-left: -25%;
}

#dot__3:checked ~ .slider__item {
  margin-left: -50%;
}

#dot__4:checked ~ .slider__item {
  margin-left: -75%;
}

.quotes .quote__wrapper:not(:first-child) {
  display: none;
}

#dot__1:checked ~ .quotes #quote__1 {
  display: block;
}

#dot__2:checked ~ .quotes #quote__2 {
  display: block;
}

#dot__3:checked ~ .quotes #quote__3 {
  display: block;
}

#dot__4:checked ~ .quotes #quote__4 {
  display: block;
}

.overlay {
  position: absolute;
  padding: 0.25rem;
  cursor: pointer;
}